# DABs
.databricks/
build/
dist/
__pycache__/
*.egg-info
.venv/
.dbtenv/
scratch/**
!scratch/README.md

# dbt
target/
dbt_packages/
dbt_modules/
logs/
package-lock.yml

# Workshop
.creds
CLAUDE.md
workshop/instructor
profiles.yml
.DS_Store
.user.yml
